@import "../tools/customization";

.button-effects{
 position: relative;
  &:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    @include Width-Height(0,100%);
    background: rgba(1, 24, 63, 0.1);
    transition: all 0.5s ease-out;

  }
  &:hover:after {
    width: 100%;
  }
}
.button-login {
  @include button(105px, 80px, $size-16, $letter_spacing-1, $line_height-40, $color-white, $font-weight-400, $oswald, none);
}

.button-search {
  @include button(150px, 80px, $size-16, $letter_spacing-1, $line_height-40, $color-white, $font-weight-400, $oswald, none);

  &:before {
    @include icon-style($awesome, $size-20, $font-weight-600, $color-white);
    content: '\f002';
    margin-right: 20px;
    animation: animate 5s linear infinite;
    animation-delay: -0.5s;
  }
}

.button-cart {
  @include button(125px, 80px, $size-16, $letter_spacing-1, $line_height-40, $color-white, $font-weight-400, $oswald, none);
}

.button-login, .button-search, .button-cart {
  border-left: 1px solid $color-white;
  @extend .button-effects;

}