
@mixin text($size, $line_height, $family, $font-weight, $color, $letter_spacing, $text-transform){
  font-size: $size;
  line-height: $line_height;
  font-family: $family;
  font-weight: $font-weight;
  color: $color;
  letter-spacing:$letter_spacing;
  text-transform:$text-transform ;
}

@mixin button($width, $height, $size, $letter_spacing, $line-height, $color, $font-weight, $font-family, $background){
  width:$width ;
  height: $height;
  font-size: $size;
  letter-spacing: $letter_spacing;
  line-height: $line-height;
  color: $color;
  font-weight: $font-weight,;
  font-family: $font-family;
  background: $background;
  text-transform: uppercase;
}

@mixin button-line($width, $height, $color){
  width: $width;
  height: $height;
  background: $color;
}

@mixin Width-Height($width, $height){
  width: $width;
  height: $height;
}
@mixin icon-style($font-family, $size, $font-weight, $color){
  font-family: $font-family;
  font-size: $size;
  font-weight: $font-weight;
  color: $color;
}
@mixin background($url-image, $size,){
  background-image:$url-image;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin paddingTopBottom($top, $bottom){
  padding-top: $top,;
  padding-bottom: $bottom;
}
@mixin absoluteTop($top, $trans){
  position: absolute;
  top: $top;
  transform: translate($trans);
}
@mixin marginLeftRight($right, $left){
  margin-right: $right;
  margin-left: $left;
}
@mixin beforeLine($width, $height, $color, $top, $trans){
  content: '';
  @include Width-Height($width, $height);
  background: $color;
  @include absoluteTop($top, $trans);
}
@mixin rotate($rotate){
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
}